
node_modules
.env

/commands/profile.js
/commands/shop.js
/commands/credslb.js
/commands/credspay.js
/commands/wins.js
/commands/balance.js
/commands/status.js
/commands/help.js
/commands/badges.js
/commands/award.js